In [12]:
import sqlite3 as sql

conn = sql.connect('test_database.db')

cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS my_galaxies (gal_id text, name text, type text, ra float, dec float, group_name text)")

cur.execute("INSERT INTO my_galaxies VALUES(?, ?, ?, ?, ?, ?)",("M87", "Virgo", "Elliptical", 187.7059, 12.3911, "Virgo Cluster"))
cur.commit()

cur.execute("SELECT * FROM my_galaxies")

my_selection = cur.fetchall()

print my_selection

cur.execute("SELECT name, ra, dec FROM my_galaxies")

my_selection_by_columns = cur.fetchall()

print my_selection_by_columns 

cur.close()
conn.close()

[(u'M87', u'Virgo', u'Elliptical', 187.7059, 12.3911, u'Virgo Cluster')]
[(u'Virgo', 187.7059, 12.3911)]